/*serverSideLazyLoadingInHtmlTableWithLoadMoreButton.css*/
.scrollable {
    overflow-y: auto;
    border: 1px solid #d8dde6;
    padding: 0.5rem;
}

.slds-table thead th {
    position: sticky;
    top: 0;
    background-color: rgba(238, 238, 238, 1);
    z-index: 1;
}

.back-to-top {
    display: none;
    /* Absolute positioning within the .scrollable container */
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0.75rem 1rem;
    background: #0176d3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    /* Ensures it is above other content */
    z-index: 10;
}

.back-to-top:hover {
    background: #0160a9;
}

.loading-spinner {
    text-align: center;
    color: #706e6b;
}

.all-loaded {
    color: #28a745;
    padding: 0.5rem;
    font-weight: bold;
}